* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(61, 61, 61);
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #FFF;
    text-decoration: underline;
}

section {                            
    text-align: justify;
    padding: 1rem;
    width: 50%; 
    margin: 20px;
    border: solid 1px #FFF;
    min-height: 50%;
    box-shadow: 1px 0 10px;
}

nav img {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li {
    list-style-type: disc;
    margin-top: 0.5rem;
}

#conhecimentos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio {
    height: 318px;
}

#bio h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    margin-bottom: 0.5rem;
    border-bottom: solid #FFF 1px;
}

.links {
    display: flex;
    flex-direction: column;
}

.github, .linkedin {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid #FFF;
    box-shadow: 1px 0 10px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
}
